name: sandbox

on:
  release:
    types: [created]

jobs:
  build:
    strategy: 
      matrix:
        os: [ubuntu-latest, macos-latest]
        
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Build
        run: |
          TAG=${{ github.event.release.tag_name }}
          OS=$(uname -s | awk '{print tolower($0)}')
          ARCH=$(uname -m)
          SHA=${{ github.sha }}
          FILE=Release-${OS}-${ARCH}.txt
          echo release-${OS}-${ARCH}-${TAG}-${SHA} >> ${FILE}
          echo "FILE=${FILE}" >> $GITHUB_ENV
          
      - name: Test
        run: cat ${{ env.FILE }}
        
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.FILE }}
